@charset "UTF-8";

@media (max-width: 426px) {
    /* Celular Grande */
    
    h1{
        font-size: 8pt;
    }
    
    ul.list-one{
        width: 100%;
      margin: 0px auto;
      flex-wrap: wrap;
    }
    a.flex{
        display: none;
    }
  }