@charset "UTF-8";

@media (max-width: 426px) {
    /* Celular Grande */
   h2{
    margin: 0px auto;
    width: 100%;
   }
   .junto{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   }
   .info-p-ppp{
    margin: 0px auto;
    width: 100%;
   }
   .text-2{
    width: 100%;
   }
   .text-lg{
    width: 100%;
   }
  }