@charset "UTF-8";

@media (max-width: 426px) {
  /* Celular Grande */
  .Tlt {
    margin: 0px auto;
    width: 100%;
    font-size: 1.5rem;
  }
  .Sgd{
    width: 100%;
    margin: 0px auto;
  }

  .list-one{
    font-size: 10pt;
  }
  .banner-one{
    height: 9em;
    /* background-color: blue; */
    padding: 0px auto;
    width: 100%;
    
  }
  
}

@media (min-width: 427px) and (max-width: 665px) {
  /* Celular Grande */
  body {
    background: purple;
  }
}
@media (min-width: 667px) and (max-width: 736px) {
  /* tablets */
  body {
    background: blue;
  }
}
@media (min-width: 737px) and (max-width: 1024px) {
  /* tablets grandes/notebook */
  body {
    background: green;
  }
}
@media (min-width: 1025px) {
  /* tablets grandes/notebook */
  body {
    background: yellow;
  }
}
